.mainSection {
  width: 385px;
  /* display: inline-flex;
  justify-content: center;
  flex-direction: row; */
  gap: 10px;
  border: 2px solid darkgrey;
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 10px;
}

.sectionTitle {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: brown;
}

.iconList {
  padding-top: 15px;
  padding-right: 5px;
}
